.tab-navigation {
  display: flex;
  border-bottom: 3px solid lightblue;
}

.tab-navigation a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #333;
  border: 2px solid lightblue;
  border-bottom: 1px;
  border-radius: 10px 10px 0 0;
  margin-right: 0.5rem;
}

.tab-navigation a.active-tab {
  background-color: #f0f0f0;
  border-color: #ccc;
  border-bottom-color: #f0f0f0;
  margin-bottom: -1px;
  font-weight: bold;
}

.tab-navigation a:hover:not(.active-tab) {
  background-color: #f8f8f8;
}

.componentView-container {
  display: flex;
  flex-direction: row;
}

.mainStats-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border: 1px solid lightblue;
  border-radius: 10px 10px 0 0;
}

.mainStats-component {
  display: flex;
}
.mainStats-readout-item {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
}

.mainState-readout-item-label {
  display: flex;
  font-size: 0.75rem;
  font-weight: bold;
}
.mainState-readout-item-value {
  display: flex;
  font-size: 0.75rem;
}

.component-container {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  padding: 1rem;
}
